#div{
    height: 100px;
    width: 100px;
}
body{
    background-color: antiquewhite;
}
.container{
    border: 2px black solid;
    display: flex;
    height: 200px;
    width: 500px;
    /* flex-wrap: wrap; */
    flex-flow: column wrap;

}
.box{
    border: 2px black solid;
}
#box2{
    order: 1;
}
#box5{
    order: 2;

}
