
.heading{
    color: rgb(242, 8, 8);
}
p{
    font-size: 25px;
}
body{
    background-color: #ffffff;
}
p{
    color: rgb(11, 155, 117);
}
button{
    color: aquamarine;
}
#box{
    font-style: italic;
    text-align: center;
    color: aliceblue;
    background-color: rgb(195, 249, 103);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-decoration: wavy underline;
}
h2{
    text-decoration: line-through;
}
/* search mdn on google for more information */
