*{
    padding: 0;
    margin: 0;
}

#nav{
    padding: 60px;
    background-color: #0f1111;
}
#logo{
  color: orange;
  font-size: 25px;
  margin-right: 200px;
}
button{
    background-color: rgb(244, 149, 6);
}
a{
    margin-right: 200px;
    text-decoration: none;
    color: white;
}

