
div{
    height: 100px;
    width: 100px;

}

#box1{
background-color: red;
position: relative;
top: 200px;
left: 200px;
border: 2px,black,solid;
z-index: 1;
}

#box2{
background-color: rgb(44, 232, 15);
position: relative;
top: 300px;
left: 200px;
border: 2px,black,solid;
}

#box3{
background-color: rgb(243, 148, 213);
position: relative;
top: 20px;
left: 200px;
border: 2px,black,solid;
z-index: 1;
}

#box4{
background-color: rgb(244, 165, 17);
position: sticky;
top: 200px;
left: 200px;
border: 2px,black,solid;
z-index: -1;
}

#box5{
background-color: rgb(244, 225, 20);
position: relative;
top: 200px;
left: 200px;
border: 2px,black,solid;
}

